<div  style="padding:10px;">
    <h3>Crate New Product</h3>
    <hr/>
    <form action="/products/create" method="POST">
            <br />			
            Product Id:  	<input 	type="text"  name="txtProductId"  />			
            <br />	<br />			
            Product Name:  	<input 	type="text"  name="txtProductName"  />			
            <br />	<br />			
            Price:  	<input 	type="text"  name="txtProductPrice"  />			
            <br />	<br />			
            Quantity:  	<input 	type="text"  name="txtProductQty"  />			
            <br />	<br />			
            <input 	type="submit" value=" Create " />				
        </fieldset>
    </form>
    <hr/>
    <a href="/products/ShowProducts">Back to Products</a>
    </div>