<h3>Product Details Details</h3>
<hr/>
<div style="border:2px solid Blue; width: 260px; border-radius: 10px; padding: 10px;">
    ProductId  :  <%=productObj.pId%>   <br/>
    ProductName  :  <%=productObj.pName%>   <br/>
    Price  :  <%=productObj.price%>   <br/>
    Quantity  :  <%=productObj.qty%>   <br/>
</div>
<hr/>