<!Doctype html>
<html>
    <head></head>
    <body>
        <h3 align='center'>MVC Based Web Application using Express JS</h3>
        <hr/>

        <a  href="/products/ShowProducts">Show Products</a>
    </body>
</html>